.main{
  font-family: 'Courier New', monospace;
  background-color: #0098c6;
  background-image: linear-gradient(to left, #c6c6c6, #def7d0);
  height: 700px;
  

  
}

.cell {
  width: 35px;
  height: 35px;
  vertical-align: top;
  text-align: center;
  border: 0.7px solid rgb(0, 0, 0);
  border-radius: 13%;
  padding:0;
  font-weight: bolder;
  color: #3a3e29;
}
.tile {
  background-color: #fbff84;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: justify;
  width: 35px;
  height: 35px;
  display: inline-block;
  align-items: stretch;
  vertical-align: top;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0.5px solid rgb(180, 180, 0);
  border-radius: 13%;
}

.game-bar {
  display:inline-block;
  position: absolute;
  align-items: top;
  height: 350px;
}
.game-bar li {
font-size: larger;
padding:2px;
margin: 3px;
  font-weight: bold;
}
.game-bar h1 {
margin-bottom: 3px;
}

.game-bar p {
  font-size: larger;
  padding:2px;
  margin: 5px;
    font-weight: bold;
  }

.Navbar {
  text-shadow: 1px 1px #00000066;
  display:block;
border-radius: 30px;
  text-align: center;
  background-color: #6ac039;
  background-image: linear-gradient(to bottom, #bcc73f, #5e7706);
  min-height: 10vh;
  font-size: 50px;
  font-weight: bold;
  color: rgb(57, 51, 51);
}

.Navbar-title {
  display: inline-block;
  justify-content: left;
  padding: 10px;
  margin-right: 100px;
}
.Navbar-links {
  
  color: #a4a4a4;
  display: inline-block;
  justify-content: right;
  font-size: 20px;
  padding: 7px;

}

.Navbar-links a {
  padding: 10px;
  color: #333333;
}


.player {
  display: inline-block;
  height:220px;
}


.board{
  display: inline-block;
  width: 525px;
  margin-right: 10%;
  margin-left: 10%;
  
}
